.bold{
    font-weight: bold;
}

.descriptor{
    display: flex;
}

.descriptor input{
    margin: 0px 6px 0px 6px;
}

.logo{
    font-size: 24px;
}

.navbar{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 5px;
}